.container {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-areas: 
    "div div div" 
    "header header header" 
    "nav nav nav" 
    "publicidad principal categoras" 
    " footer footer footer";
}

.mensaje { 
    background-color: aqua;
    grid-column-start: 1;
    grid-column-end: -1;
    grid-column: 1 / -1 ;
}


header {
grid-column: 1 /-1;  
}

nav {
grid-column: 1 /-1;
}

#aside-1 {
 grid-column: 1/2;
 grid-row: 4/5;
}

footer {
grid-column: 1 /-1;  
}